.frontpage {
  position: relative;
  background-color: steelblue;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 56px)   ;
  margin-top: -24px;
  margin-bottom: -50px;
}

.frontpage-inner {
  padding-top: 80px;
}